
#noPage{
  color: #06477D;
  font-family: 'Faster One', cursive;
  font-size: 50px;
}

#fouroh{
  color: #00786B;
  font-size: 150px;
  font-family: 'Kumar One', cursive;
}

#fourohfour{
  text-align: center;
  margin-top: 7%;
}

#sentence{
  color: #00786B;
  font-family: 'Kumar One', cursive;
  font-size: 40px;
}