#loginForm{
  height: 80%;
  width: 70%;
  border: 1px solid grey;
  /* border-radius: 15px; */
  margin: 0% 15%;
  padding: 2%;
  background:#06477D;
  color: aliceblue;
}

#loginHeading{
  margin: 5% 0 0 15%;
  color: #00786B;
  font-size: 70px;
  font-family: 'Kumar One', cursive;
}

.btn{
  background: #00786B;
}

.btn:hover{
  background: rgb(0, 165, 149);
}

#oldUser{
  margin-right: 20px;
}

#loginFail{
  color: red;
}

#signUpInstead{
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 12px;
  color: #cfd6e8;
}

@media (max-width: 400px) { 
  #loginComponentContainerDiv{
    min-width: 300px;
  }

  #loginHeading{
    margin: 10% 0 0 0%;
    color: #00786B;
    font-size: 40px;
    font-family: 'Kumar One', cursive;
    text-align: center;
  }

  #loginForm{
    width: 90%;
    margin: 0 auto;
    min-width: 270px;
  }
}